<a href="https://colab.research.google.com/github/bhadreshpsavani/ColabNotebooks/blob/master/DataExtraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
pdf_path="/content/drive/My Drive/Colab Notebooks/Datasets/1000128126_March_2019_CGCWTSCZ_CGC.pdf"
xls_path="/content/drive/My Drive/Colab Notebooks/Datasets/Infosys_Invoice_Details_June_2019.xlsx"

In [0]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.17.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from tabula-py) (0.25.2)
Requirement already satisfied: distro in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.4.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->tabula-py) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->tabula-py) (1.12.0)

In [3]:
import tabula
df = tabula.read_pdf(pdf_path)

ModuleNotFoundError: ignored

In [0]:
df1=tabula.read_pdf(pdf_path, pages=2)
df1

                                  Sl. No. Particulars  ...  Amount USD
0                                                 NaN  ...         NaN
1                                              ONSITE  ...         NaN
2                           1 SR. TECHNICAL ARCHITECT  ...         NaN
3                                  1.1 KAUSHAL DARURY  ...   16,405.20
4                                1.2 MANOHAR NAVULURI  ...   16,405.20
5                                   1.3 NAMAN AVASTHI  ...   16,405.20
6                                   1.4 PUJITH BEDUDA  ...   15,624.00
7                                 2 TECHNICAL ANALYST  ...         NaN
8                                  2.1 SAMRITI SHARDA  ...   12,421.44
9                                                 USA  ...         NaN
10                         3 SR. TECHNICAL SPECIALIST  ...         NaN
11                                   3.1 APURVA GILKE  ...   14,772.80
12                                   3.2 SAMBIT ARYAL  ...   14,772.80
13  ______________________________________________...  ...         NaN
14                                                NaN  ...  106,806.64
15  ______________________________________________...  ...         NaN

[16 rows x 6 columns]